/* ================================
   NAVBAR
   ================================ */

.navbar {
  background: #000;
  border-bottom: 1px solid rgba(255,100,0,0.3);
  height: 60px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.nav-links a:hover {
  color: #FFD700;
}

.btn-nav-cta {
    background: transparent;
    border: 1.5px solid var(--rojo);
    color: var(--rojo);
    padding: 9px 20px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-nav-cta:hover {
    background: var(--rojo);
    color: var(--blanco);
}

.btn-nav-cta.logueado {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.icono-nav {
  width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 50%;
}

.btn-nav-cta.logueado {
    background: transparent;
    border: 1.5px solid #FFD700;
    color: #FFD700;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-nav-cta.logueado:hover {
    background: rgba(255,215,0,0.1);
}

/* ================================
   FOOTER
   ================================ */

.footer {
  background: #000;
  border-top: 1px solid rgba(255,100,0,0.2);
  text-align: center;
  padding: 20px;
  font-size: 13px;
  color: var(--blanco);
}